body {
	font-size: 16px;
  	color: #fff;
  	box-sizing: border-box;
   
}
.navbar-brand{
  font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    font-size: 3em;
    color:  #641e16 ;
}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#nav-list a {
  background-color: lightblue;
  text-align: center;
   font-weight: bold;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
h1 {
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    font-size: 2em;
    color:  #641e16 ;
}

section {
    background-color: #999999;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
}

section h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: darkred;
}

section p {
    padding: 0 6px 4px 6px;
}

